# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# Model artifacts
models/*.pt
models/*.pth

# Local data
data/raw/*
data/processed/images/*
data/processed/*.csv
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/processed/images/.gitkeep
!data/processed/labels.csv

# Logs
*.log